body {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

body,
.header,
.one,
.footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  /* align-items: center; */
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  font-weight: 400;
  padding: 3em;
  width: 100%;
}

.btn-logo {
  display: flex;
  justify-content: space-between;
}

.one {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* border: blue dashed 3px; */
}

.h-box1 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  width: 45%;
  padding: 7em;
  padding-left: 0;
  /* border: solid green 2px; */
}

.h-box1 button,
.small-red {
  width: 15em;
  height: 4em;
  font-weight: 700;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-size: 1em;
}

.h-box2 {
  display: flex;
  width: 55%;
  flex: 1;
  /* border: solid yellow 2px; */
}
.h-box2 img {
  flex: 1;
  display: inline-block;
  width: 100%;
  height: 30em;
}

.white-button {
  border-radius: 25px;
  width: 12em;
  height: 3em;
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

.two,
.three,
.four,
.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.503);
  box-shadow: 0px 0px 5px grey;
  border-radius: 8px;
  padding: 1.3em 1.1em 1.3em 4em;
}

.box1 {
  margin-right: 5em;
}

.two img,
.three img,
.four img {
  width: 100%;
}

.wrapper {
  padding: 1em 5em 1em;
}

.four {
  margin-bottom: 15em;
}

/* .main {
  border: 2px solid green;
} */

.displaced {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 50%;
  height: 8em;
  background-color: rgb(220, 220, 220);
  box-shadow: 0px 0px 5px grey;

  padding: 3em;
  border-radius: 10px;
  position: absolute;
  bottom: -5em;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}
.displaced button {
  width: 18em;
  font-size: 1em;
}

.footer {
  background-color: hsl(192, 100%, 9%);
  width: 100%;
  color: white;
  margin: 0;
  border-radius: 0;
  padding: 3em;
  padding-top: 10em;
  justify-content: space-around;
}

.footer .logo {
  filter: invert();
}
.f-1,
.f-2,
.f-3 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.contact-me {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.font-icon {
  display: flex;
  justify-content: space-around;
}

.font-icon svg {
  filter: invert();
}

h1,
h3 {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.displaced button:active {
  background-color: hsla(322, 100%, 66%, 0.377);
}
@media screen and (max-width: 700px) {
  .header {
    width: 100%;
  }
  .h-box1 {
    width: 80%;
    display: flex;
    flex-flow: column;
    padding-left: 8em;
  }
  .h-box1 p {
    font-size: 1.5em;
  }
  .two,
  .four {
    flex-flow: column-reverse;
  }

  .three {
    flex-flow: column;
  }
  .footer {
    flex-flow: column;
    align-items: flex-start;
  }
  .font-icon {
    align-self: center;
    margin: 3em;
  }
  .font-icon svg {
    margin-right: 1em;
  }
}
